<h1>Active Vehicles</h1>
<%= link_to "See Sold Vehicles", sold_path%>

<div class="container">
  <div class="row">
    <% @vehicles.each do |vehicle| %>
      <div class="border col-sm-4" align="center">
        <img class="img-fluid" src="https://static-assets.tesla.com/configurator/compositor?&bkba_opt=2&view=STUD_3QTR&size=1400&model=<%= vehicle.model%>&options=<%= vehicle.option_code_list %>" alt="Car">
        <p><%= link_to vehicle.vin, vehicle_path(vehicle.vin) %></p>
        <p><%= vehicle.full_model_name %></p>
        <p><%= vehicle.paint %></p>
        <p><%= vehicle.tires %></p>
        <p>Current Price: $<%= vehicle.vehicle_data.last.price %></p>
        <p>Appeared on: <%= vehicle.vehicle_data.first.data_acquired %></p>
        <br style="clear: left"/>
      </div>
    <% end %>
  </div>
</div>
